.texto-menor {
    font-size: 13px;
}

.divs-facilidades {
    width: 325px;
}

.div-novidades {
    width: 325px;
}

.botao-lilas {
    background-color: #e6997a;
}

.verde-limao {
    color: #e6c79a;
}

@media(min-width: 768px) {

    .div-novidades {
        width: 696px;
    }

}

body{
   background-color: rgb(247, 227, 202); 
}


